.main
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 60vh;
    flex-direction: column;
}
.center{
    height: 200px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
}

 ul
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    
}
li 
{
    float: left;
    padding: 14px;
}
.topright
{
    float: right;
}
.bottomright
{
    float: right;
}
nav 
{
    position: fixed;
    top: 0;
    width: 100%;
}
footer 
{
    position: fixed;
    right: 0;
    bottom: 0;
    padding-right: 10px;
    width: 100%;
    background-color: rgba(241,243,244,1);
    margin-left: -10px;
    border-top: 1px solid #e4e4e4;
    
}
a{
    text-decoration: none;
    color: rgb(34, 34, 34);
}
a:hover{
    text-decoration: underline;
    color: grey;
}
input{
    width: 300px;
    height: 30px;
    border:1px solid #dadce0;
}
#searchbar{
    height: 38px;
    width: 387px;
    border: 1px solid rgba(184, 178, 178, 0.527);
    border-radius: 50px;
    padding-left: 20px;      
}
#search-wrapper{
    position: relative;
}
#searchbar:hover {
  border: 2px solid rgba(184, 178, 178, 0.527);
}
#microphone{
    position: absolute;
    top: 6px;
    right: 10px;
    width: 22px;
    height: auto;
}
#searchicon{
    position: absolute;
    top: 10px;
    left: 10px;
    width: 15px;
    height: auto;
}
#applogo{
    
    width: 25px;
    height: 25px;
}
.midbtn{
    padding: 10px;
    margin: 3px;
    border: none;
    border-radius: 4px;
}

.signinbutton{
  background: #4287f5;
  color: white;
  padding: 5px;
  border: none;
  border-radius: 2px;
}